img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: auto;
  float: right;
}
h2
{
  font-style: italic;
}

.panel-body ul
{
  color: black;
  font-style: italic;
}
